.shipment-data {
  .shipment-data-wrapper {
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
    .main-data {
      border-bottom: 1px solid var(--border-color);
      p {
        color: #a6a6a6;
      }
      h4 {
        font-weight: bold;
      }
    }
  }

  .shipment-track-line {
    .step {
      &:first-child {
        text-align: start !important;
        .step-icon-wrap {
          justify-content: start !important;
          &::before {
            content: none;
          }
          &::after {
            width: 100%;
          }
        }
      }
      &:last-child {
        text-align: end !important;
        .step-icon-wrap {
          justify-content: end !important;
          &::after {
            content: none;
          }
          &::before {
            width: 100%;
          }
        }
      }
      .step-icon-wrap {
        &::after,
        &::before {
          display: block;
          position: absolute;
          top: 50%;
          width: 50%;
          height: 6px;
          margin-top: -1px;
          background-color: #e1e7ec;
          content: "";
          z-index: 1;
        }
        &::after {
          right: 0;
        }
        &::before {
          left: 0;
        }
        .step-icon {
          background-color: white !important;

          border: 2px solid var(--border-color);
          color: var(--border-color);
          line-height: 54px;
          z-index: 5;
        }
      }
      &.completed {
        .step-icon-wrap {
          &::after,
          &::before {
            background-color: #35b600;
          }
          .step-icon {
            display: flex !important;
            align-items: center;
            justify-content: center;
            font-size: 16px;
            width: 30px !important;
            height: 30px !important;
            color: white !important;
            background-color: #35b600 !important;
            border-color: #35b600;
          }
        }
      }
      &.canceled {
        .step-icon-wrap {
          &::after,
          &::before {
            background-color: var(--mainColor);
          }
          .step-icon {
            display: flex !important;
            align-items: center;
            justify-content: center;
            font-size: 16px;
            width: 30px !important;
            height: 30px !important;
            color: white !important;
            background-color: var(--mainColor) !important;
            border-color: var(--mainColor);
          }
        }
      }
      &.waiting {
        .step-icon-wrap {
          &::after,
          &::before {
            background-color: #f9ba02;
          }
          .step-icon {
            display: flex !important;
            align-items: center;
            justify-content: center;
            font-size: 16px;
            width: 30px !important;
            height: 30px !important;
            color: white !important;
            background-color: #f9ba02 !important;
            border-color: #f9ba02;
          }
        }
      }
    }
  }
}
