.nav-bar {
  padding: 16px 70px;
  border-bottom: 1px solid var(--border-color);
  .logo-container {
    cursor: pointer;
    img {
      width: 120px;
      height: 36px;
    }
  }
  nav {
    z-index: 999999;
    .main-menu,
    .sub-menu {
      .list-item {
        font-weight: bolder;
        font-size: 1.2rem;
        padding: 21px 28px;
        cursor: pointer;
        transition: all 0.2s ease;
        &:hover {
          color: var(--mainColor);
        }
        &.list-item__track-shipment {
          position: relative;
          padding: 21px 28px;
          //   border-inline-end: 1px solid var(--border-color);
          &::after {
            content: "";
            display: block;
            width: 2px;
            // height: 10px;
            color: var(--border-color);
            background-color: var(--border-color);
            position: absolute;
            right: 0;
            top: 0;
            bottom: 0;
            margin: 20px 0;
          }
        }
      }
    }
  }
}

[dir="rtl"] {
  nav {
    .sub-menu {
      .list-item {
        &.list-item__track-shipment {
          &::after {
            right: unset;
            left: 0;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 567px) {
  .nav-bar {
    padding: 16px 10px;
  }
}
