.menu {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 400px;
  background: var(--border-color);
  display: flex;
  justify-content: center;
  padding-top: 100px;
  transform: translateX(200%);
  transition: transform 0.2s ease;
  will-change: transform;
  .main-menu {
    flex-direction: column;
    justify-content: center;
  }
  &.opened {
    transform: translateX(0) !important;
  }
  &.closed {
    transform: translateX(200%);
  }
}
